@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .corporate-container {
    @apply text-gray-800 px-6 py-4 font-bold select-none bg-gray-300 mb-9;
  }
}

.corporate-messaging-container {
  mask-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0,0,0,.5) 5%,
    rgba(0,0,0,.7) 10%,
    rgba(0,0,0,.95) 20%,
    rgba(0,0,0,.95) 80%,
    rgba(0,0,0,.7) 90%,
    rgba(0,0,0,.5) 95%,
    transparent 100%
  );
  box-shadow:
    inset -10px 0px 15px #999,
    inset 10px 0px 15px #eee;
}

.corporate-container {
  border-radius: 20px;
  /* border-radius: 0px 20px 20px 20px; */
  background: linear-gradient(145deg, #bcc0c5, #e0e4ea);
  box-shadow:  10px 10px 30px #999ba0,
              -10px -10px 30px #ffffff;
}
/* .corporate-container-user {
  border-radius: 20px 20px 0px 20px;
} */

.corporate-container:hover {
  transform: scale(1.1);
}
