.card {
  background-color: #6B6570;
  height: 75px;
  max-height: 75px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  transition: all .2s;
  position: relative;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.card:hover {
  transform: translateY(-4px);
  filter: brightness(108%);
  cursor: pointer;
}
.card:active {
  transform: translateY(-2px);
  filter: brightness(105%);
  cursor: pointer;
}

.card-icon {
  padding: 10px;
  clip-path: polygon(0 0, 90px 0, 75px 100%, 0 100%);
  min-width: 100px;
  height: 75px;
}
.card-icon > span {
  line-height: 55px;
}
.card-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  align-content: center;
  gap: 3px;
}
.card-suffix {
  min-width: 90px;
  font-size:medium;
  text-align: center;
  align-content: center;
  clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%);
}

/* Color-specific styles */
.card-blue > .card-icon,
.card-blue > .card-suffix {
  background-color: rgb(107, 107, 212);
}
.card-red > .card-icon,
.card-red > .card-suffix {
  background-color: rgb(218, 95, 87);
}
.card-green > .card-icon,
.card-green > .card-suffix {
  background-color: rgb(87, 151, 62);
}
