@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-default {
      @apply h-12 px-4 py-2 rounded-lg shadow-md
      border-gray-300 border-solid border-2
        hover:brightness-125 hover:-translate-y-1
        active:brightness-110 active:-translate-y-0.5
        select-none transition-all duration-75;
    }
    .list-box-option {
      @apply text-center cursor-pointer bg-primary rounded-lg
        px-3 py-1.5 select-none brightness-125 hover:brightness-150
    }
    .structure-display-box {
      @apply
        bg-primary h-32 w-32
        border-gray-300 border-solid border-2 rounded-xl
        hover:brightness-125 hover:-translate-y-1
        active:brightness-125 active:-translate-y-0.5
        cursor-pointer transition-all duration-75
        flex items-center justify-center
    }
}

#braxios-main {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url('./assets/img/Deep_Space_Bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
}

#planet-yan-main {
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('./assets/img/Planet_Yan_Bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 180%;
}

@layer base {
  main[data-theme='deep-space'] {
    --color-background: theme('colors.stone.900');
    --color-primary: theme('colors.stone.900');
    --color-secondary: theme('colors.stone.800');
    --color-accent: theme('colors.stone.600');
  }

  main[data-theme='corporate'] {
    /* --color-background: theme('colors.stone.900');
    --color-primary: theme('colors.stone.900');
    --color-secondary: theme('colors.stone.800');
    --color-accent: theme('colors.stone.600'); */
  }
  
  /* body[data-theme='deep-space'] {
    --color-dark: rgb(34, 13, 18);
    --color-med: rgb(70, 43, 73);
    --color-light: rgb(107, 101, 112);
  } */

  /* body[data-theme='deep-space'] {
    --color-dark: #060407;
    --color-med: #50336b;
    --color-light: #bea8d2;
    --color-accent: #814eb2;
  } */

  main[data-theme='planet-yan'] {
    --color-background: #181D27;
    --color-primary: #254D32;
    --color-secondary: #46754f;
    --color-accent: #6d9966;
  }

  /* body[data-theme='planet-yan'] {
    --color-dark: theme('colors.lime.950');
    --color-med: theme('colors.lime.900');
    --color-light: theme('colors.lime.600');
  } */

  /* body[data-theme='planet-yan'] {
    --color-dark: rgb(16, 34, 25);
    --color-med: rgb(41, 71, 47);
    --color-light: rgb(64, 90, 59);
  } */
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Global Style Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
html {
  /* Counteracts Listbox css fuckery */
  padding: 0 !important;
  overflow: visible !important;
}
body {
  font-family: "Audiowide", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  color: #eee;
}

@keyframes stageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stageFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#yan_mil_presence_container {
  interpolate-size: allow-keywords;
}

#corporate-main {
  background: url('./assets/img/Corporate_Bg.jpg');
  background-position: center;
  background-size: 130%;
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  animation: heartbeat 30s infinite;
  filter: blur(0);
}
#corporate-main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgba(255,255,255,.7), rgba(0,0,0,.7));
  opacity: .9;
  z-index: 1;
  animation: heartbeat-pseudo 30s infinite;
}

@keyframes heartbeat {
  0% {
    background-size: 130%;
  }
  20% {
    background-size: 150%;
  }
  40% {
    background-size: 130%;
  }
  60% {
    background-size: 150%;
  }
  80% {
    background-size: 130%;
  }
  100% {
    background-size: 130%;
  }
}
@keyframes heartbeat-pseudo {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.5;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.5;
  }
}
