@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-default {
      @apply h-12 bg-med-purple px-4 py-2 rounded-lg shadow-md
        hover:brightness-125 hover:-translate-y-1
        active:brightness-110 active:-translate-y-0.5
        transition-all duration-75;
    }
    .list-box-option {
      @apply text-center cursor-pointer bg-med-purple rounded-lg
        px-3 py-1.5 select-none brightness-125 hover:brightness-150
    }
    .structure-display-box {
      @apply
        bg-med-purple h-32 w-32
        border-gray-300 border-solid border-2 rounded-xl
        hover:brightness-125 hover:-translate-y-1
        active:brightness-125 active:-translate-y-0.5
        cursor-pointer transition-all duration-75
        flex items-center justify-center
    }
}

/* Global Style Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
html {
  /* Counteracts Listbox css fuckery */
  padding: 0 !important;
  overflow: visible !important;
}
body {
  font-family: "Audiowide", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  color: #eee;
}

/* Sidebar */
.fade-in {
  animation: fade-in 0.5s ease-in-out;
}
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
